<img src="../../../../images/mlr.JPG" style="background:white; display: block; margin-left: auto;margin-right: auto; width:60%"/>

---
<h2>1. Importing and Transforming the Dataset</h2>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('../../../../data/clean/50_Startups.csv')
display(df.head())
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [2]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [-1])], remainder='passthrough', n_jobs=None, )
x = np.array(ct.fit_transform(x))

---
<h2>2. Splitting the Dataset</h2>

In [3]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=0)
print("train dataset size : {} observations\ntest dataset size : {} observations".format(x_train.shape[0], x_test.shape[0]))

train dataset size : 40 observations
test dataset size : 10 observations

---
<h2>3. Training the Model with Training Dataset</h2>

In [4]:
from sklearn.linear_model import LinearRegression

mlr = LinearRegression(fit_intercept=True, normalize=False, copy_X=True, n_jobs=-1)
mlr.fit(x_train, y_train)
print("intercept : {}\nslope : {}".format(mlr.intercept_, mlr.coef_))

intercept : 42467.529248549545
slope : [ 8.66383692e+01 -8.72645791e+02  7.86007422e+02  7.73467193e-01
  3.28845975e-02  3.66100259e-02]

---
<h2>4. Predicting the Test Dataset Results</h2>

In [5]:
y_pred = mlr.predict(x_test)
pd.DataFrame(data=np.stack((y_test.values, y_pred), axis=1),
             index=None, columns=['y actual', 'y prediction'],
             copy=False)

    y actual   y prediction
0  103282.38  103015.201598
1  144259.40  132582.277608
2  146121.95  132447.738452
3   77798.83   71976.098513
4  191050.39  178537.482211
5  105008.31  116161.242302
6   81229.06   67851.692097
7   97483.56   98791.733747
8  110352.25  113969.435330
9  166187.94  167921.065696